obj
bin
!Database/bin
deploy
deploy/*
test-results/
TestResults/
_ReSharper.*
*.user
*.resharper
*.suo
*.cache
*.userprefs
*.pidb
*~
*.swp
*.swo
*.bin
*.userprefs
*.vspscc
*.pyc
build_output
ReleaseBinaries
code_drop
TestResult.xml
openlocal.sh
openlocal.bat
~$*
Debug/
Release/
Visual Studio 2010/
*.msi
CommonAssemblyVersion.cs
Version.txt
Backend/MgxGranittAdapterService/OnDemand.config
Backend/SigmaGranittAdapterService/OnDemand.config
Backend/SubtitleGranittAdapterService/OnDemand.config
Frontend/Web/OnDemand.config
ConnectionStrings.config
Solutions/packages
Configuration/ConnectionStrings.config
Configuration/OnDemand.config
Configuration/NRKDT*
Build/*.trx
*.war
.bundle
Scripts/pass.txt
.OpenIDE/active.profile
*.sublime-project
*.sublime-workspace
Solutions/Web_.psess
oi-definitions.json
Tools/OdaDashboard/node_modules/
Tools/OdaDashboard/Project1/node_modules/
Frontend/Web.Tests/CasperJsTests/Build/casperlog.xml
Scripts/Build/casperlog.xml
Build/casperlog.xml
Scripts/casperpass.txt
Solutions/UpgradeLog.htm
casperpass.txt
Solutions/.vs
/packages/
Solutions/packages/
paket-files/
Build/Tools
Build/BuildOutput
Build/.fake/BuildMediaSourcerer.fsx*
/Backend/MediaSourcerer/any/netstandard1.6/FSharp.Core.optdata
/Backend/MediaSourcerer/any/netstandard1.6/FSharp.Core.sigdata
/.fake/
/build/
.vs/
.idea/
.ionide/
.vscode/